<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ post.title }} - {{ site.title }}</title>
  <link rel="shortcut icon" href="https://fav.farm/%F0%9F%93%9D">
  <link rel="icon" href="https://fav.farm/%F0%9F%93%9D">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
  {{ if post.date != '' }}<meta property="article:published_time" content="{{ post.date }}">{{ endif }}
  {{ if post.updated != '' }}<meta property="article:modified_time" content="{{ post.updated }}">{{ endif }}
  {{ if post.tags != '' }}<meta property="article:tag" content="{{ post.tags }}">{{ endif }}
  {{ if post.title != '' }}<meta property="og:title" content="{{ post.title }}">{{ endif }}
  {{ if post.image != '' }}<meta property="og:image" content="{{ post.image }}">{{ endif }}
  {{ if post.url != '' }}<meta property="og:url" content="{{ post.url }}">{{ endif }}
  {{ if post.tags != '' }}<meta property="og:type" content="article">{{ endif }}
  {{ if site.title != '' }}<meta property="og:site_name" content="{{ site.title }}">{{ endif }}
  {{ if post.description != '' }}<meta property="og:description" content="{{ post.description }}">{{ endif }}
  {{ if post.description != '' }}<meta name="description" content="{{ post.description }}">{{ endif }}
  {{ if post.canonical != '' }}<link rel="canonical" href="{{ post.canonical }}">{{ endif }}
  {{ if site.robots != ''}}<meta name="robots" content="{{ site.robots }}">{{ endif }}{{ if post.title }}
  {{ if site.twitter.site != '' }}<meta name="twitter:site" content="{{ site.twitter.site }}">{{ endif }}
  {{ if site.twitter.creator != '' }}<meta name="twitter:creator" content="{{ site.twitter.creator }}">{{ endif }}
  {{ if site.twitter.site != '' }}<meta name="twitter:card" content="summary_large_image">{{ endif }}
  {{ if post.title != '' }}<meta name="twitter:title" content="{{ post.title }}">{{ endif }}
  {{ if post.description != '' }}<meta name="twitter:description" content="{{ post.description }}">{{ endif }}
  {{ if post.image != '' }}<meta name="twitter:image" content="{{ post.image }}">{{ endif }}
  {{ if post.url != '' }}<meta name="twitter:url" content="{{ post.url }}">{{ endif }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "{{ post.type }}",
      {{ if post.title != '' }}"headline": "{{ post.title }}",{{ endif }}
      {{ if pos.date != '' }}"datePublished": "{{ post.date }}",{{ endif }}
      {{ if post.updated != '' }}"dateModified": "{{ post.updated }}",{{ endif }}
      {{ if site.author != ''}}
      "author": {
        "@type": "Person",
        "name": "{{ site.author }}"
      },
      {{ endif }}
      {{ if site.title != '' }}
      "publisher": {
        "@type": "Organization",
        "name": "{{ site.title }}",
      },
      {{ endif }}
      {{ if post.image != '' }}"image": "{{ post.image }}",{{ endif }}
      {{ if post.url != '' }}"mainEntityOfPage": "{{ post.url }}"{{ endif }}
    }
  </script>
</head>
<body>
  {{ component "header" }}
  <main>
    {{ content }}
  </main>
  {{ component "footer" }}
  <script src="/scripts.js"></script>
</body>
</html>